{% extends '::base.html.twig' %}

{% block body -%}

    <article class="col-xs-12 col-sm-12 article">
        
            <div class="date">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                {{ single.createAt|date('Y-m-d H:i:s') }}
            </div>
            <h1 class="title">{{ single.title }}</h1>
            <p>
                {{ single.content }}
            </p>
            <a class="btn btn-default" href="{{ path('main_page') }}">
                Back to the list
            </a>
    </article>

{% endblock %}
